<h1 style="text-align: center;"><%= @haiku.title %></h1>

<hr />

<%= simple_format(@haiku.poem) %>

<hr />
<%= link_to "Edit This Haiku", "/haikus/#{@haiku.id}/edit" %>
<br />

<%= link_to 'Delete This Haiku', [@haiku], method: :delete %>

<hr />
<%= link_to "Author: #{@haiku.user.name}", @haiku.user %>

<hr />
<% if @haiku.average_rating > 0 %>
<<<<<<< HEAD
   <h4><%= "Average Rating: #{@haiku.average_rating}" %></h4>
<% else %>
   <h4>The haiku has not been rated</h4>
<% end %>
=======
    <h4><%= "Average Rating: #{@haiku.average_rating}" %></h4>
<% else %>
    <h4>The haiku has not been rated</h4>
<% end %>
>>>>>>> 6d43a4b41b9adefb331c2a93d6733600aa9ba219
